* {
    /* Removes extra spacing from all elements on the page */
    padding: 50;
    margin: 80;
    background-color: brown
}

/* Put your styles BELOW this line */
.header {
    font-size: 50px;
}