<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Tutorial</title>
    
    <!-- Required tags to make the website responsive-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Add Bootstrap CSS to the page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap4.css') }}">
    
    <!-- My custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Stuff will go here later -->
    {% for student in students_profile %}
    <div class="card">
            <div class="card-body">
                <h5 class="card-title"> {{student.full_name}}</h5>
               <p class="card-text" > {{student.birthday}}</p>
               <p class="card-text" > {{student.email}}</p>
            </div>
    </div> 
    {% endfor %}
    
    
    <!-- Add JQuery and Bootstrap JS to the page -->
    <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
</body>
</html>
