<html>
<head>
    <title>Bootstrap Tutorial</title>
    
    <!-- Required tags to make the website responsive-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Add Bootstrap CSS to the page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    
    <!-- My custom styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Stuff will go here later -->
    {% for student in students_profile %}
    <div class="row">
            <div class="col-12">
               <p> {{student.full_name}}</p>
               <p>{{student.birthday}}</p>
               <p>{{student.email}}</p>
            </div>
    </div> 


    {% endfor %}
    
    
    <!-- Add JQuery and Bootstrap JS to the page -->
    <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
</body>
</html>
